/* <----------------------------------------------------------- navbar ----------------------------------------------------------------> */

.opac_70 {
    opacity: 70%;
}

.gap-media-footer {
    gap: 30px;
}

.hero_back_img {
    background-image: url("../Images/PNG/hero_sec_back_img.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.changes-navBar {
    background: var(--navBar-back);
    border-radius: 107px;
    padding: 10px 12px;
    border: 1px solid var(--navBar-back);
    box-shadow: 0px 0px 11.6px 4px var(--drop-shadow);
}

.gap_media {
    gap: 30px;
}

.nav_link {
    transition: all 300ms linear;
}

.nav_link:hover {
    opacity: 100%;
}

.btn_change {
    padding: 16px 34px;
    border-radius: 55px;
    background: var(--btn-navBar);
    border: 0px solid transparent;
    transition: all 300ms linear;
}

.btn_change {
    position: relative;
}

.btn_change::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 55px;
    padding: 3px;
    background: var(--btn-border-lg);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}

/* <-----------------------------------------------------------Hero section ----------------------------------------------------------------> */

.max-w-hero-text {
    max-width: 920px;
}

.hero-sec-cont {
    z-index: 14;
}


.pos-hero-notes {
    bottom: 45px;
    z-index: 1;
    left: 42px;
}

.max-w-hero-sub-text {
    max-width: 580px;
}

.mb_media_sub_text {
    margin-bottom: 32px;
}

.play_icon {
    padding: 11px 11.47px 10.62px 14.15px;
    background: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.pos_bottom_layer {
    bottom: 0;
    left: 0;
    width: 100%;
}

.bottom-ellipse-hero {
    position: absolute;
    width: 525px;
    height: 525px;
    background: var(--token-ellipse-clr);
    filter: blur(400px);
    border-radius: 50%;
    bottom: -25px;
    left: 0px;
    z-index: 0;
}

/* <-----------------------------------------------------------About Us ----------------------------------------------------------------> */
.about_us_back_img {
    background-image: url("../Images/PNG/about_us_back_img.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.my-media-about-us {
    margin-top: 16px;
    margin-bottom: 40px;
}

.py-about-us {
    padding-top: 131px;
    padding-bottom: 81px;
}

.max-w-about-us-box {
    max-width: 490px;
}

/* <----------------------------------------------------------- Timeline ----------------------------------------------------------------> */
.pos-abs-fire {
    top: 0;
    left: 0;
}

.top-ellipse-timeline {
    position: absolute;
    width: 525px;
    height: 525px;
    background: var(--top-ellipse-sub-clr);
    filter: blur(300px);
    border-radius: 50%;
    top: 0;
    left: 0;
    z-index: 10;
}

.bottom-ellipse-timeline {
    position: absolute;
    width: 525px;
    height: 525px;
    background: var(--top-ellipse-sub-clr);
    filter: blur(300px);
    border-radius: 50%;
    bottom: 0;
    left: 0;
    z-index: 2;
}

.center-ellipse-timeline {
    position: absolute;
    width: 525px;
    height: 525px;
    background: var(--token-ellipse-clr);
    filter: blur(500px);
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    z-index: 10;
}

.timeline .top-left {
    left: -81% !important;
}

.timeline .top-left.corner {
    border-left: none !important;
    border-top: none !important;
    border-radius: 0 !important;
}

.timeline .left-bottom {
    left: -81% !important;
}

.timeline .left-bottom.corner {
    border-left: none !important;
    border-bottom: none !important;
    border-radius: 0 !important;
}

.timeline .top-right {
    left: 81% !important;
}

.timeline .top-right.corner {
    border-right: none !important;
    border-top: none !important;
    border-radius: 0 !important;
}

.timeline .right-bottom {
    left: 81% !important;
}

.timeline .right-bottom.corner {
    border-right: none !important;
    border-bottom: none !important;
    border-radius: 0 !important;
}

.py-timeline-sec {
    padding-top: 98px;
    padding-bottom: 180px;
}

.sec-back-clr {
    background: var(--black-color);
}

.max-w-roadmap-text {
    max-width: 602px;
}

.timeline_boxes {
    position: relative;
}

.timeline_boxes {
    max-width: 578px;
    padding: 24px;
    border-radius: 24px;
    backdrop-filter: blur(30px);
    background: var(--timeline-box-clr-right);
}

.changed_bg {
    background: var(--timeline-left-box-clr) !important;
}

.timeline_boxes::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 24px;
    padding: 3px;
    background: var(--timeline-boes-border-after);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}

.image_wh_box {
    width: 160px;
    height: 160px;
    background: var(--img-w-h-box);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 96.63px;
}

.circle {
    font-weight: bold;
    padding: 15px 20px;
    border-radius: 50%;
    background-color: var(--timeline-back-clr-circle);
    color: var(--circle-text-clr);
    max-height: 50px;
    z-index: 2;
    display: none;
}

.how-it-works.row {
    display: flex;
}

.how-it-works.row .col-2 {
    display: inline-flex;
    align-self: stretch;
    align-items: center;
    justify-content: center;
}

.how-it-works.row .col-2::after {
    content: "";
    position: absolute;
    border-left: 3px solid #ED8D8D;
    z-index: 1;
}

.how-it-works.row .col-2.bottom::after {
    height: 50%;
    left: 50%;
    top: 50%;
}

.how-it-works.row .col-2.full::after {
    height: 100%;
    left: calc(50% - 3px);
    display: none;
}

.how-it-works.row .col-2.top::after {
    height: 50%;
    left: 50%;
    top: 0;
}

.timeline div {
    padding: 0;
    height: 88px;
}

hr {
    opacity: 1;
}

/* .wh_changes_timeline_img {
    width: 100px;
    height: 70px;
} */

.timeline hr {
    border-top: 3px dashed #fff;
    margin: 0;
    top: 41px;
    position: relative;
}

.timeline .col-2 {
    display: flex;
    overflow: hidden;
}

.timeline .corner {
    border: 3px dashed #fff;
    width: 100%;
    position: relative;
    border-radius: 15px;
}

.timeline .top-right {
    left: 50%;
    top: -50%;
}

.timeline .left-bottom {
    left: -50%;
    top: calc(50% - 3px);
}

.timeline .top-left {
    left: -50%;
    top: -50%;
}

.timeline .right-bottom {
    left: 50%;
    top: calc(50% - 3px);
}

.how-it-works.row .col-2.bottom::after,
.how-it-works.row .col-2.top::after {
    display: none;
}

.mt-media-roadmap {
    margin-top: 60px;
}

/* <-----------------------------------------------------------  Tokenomics ----------------------------------------------------------------> */
.ellipse-token {
    position: absolute;
    width: 259.81px;
    height: 259.81px;
    background: var(--token-ellipse-clr);
    filter: blur(170px);
    border-radius: 50%;
    top: 150px;
    left: 0;
    z-index: 10;
}

.pe_30px {
    padding-left: 30px;
}

.ellipse-token-bottom {
    position: absolute;
    width: 259.81px;
    height: 259.81px;
    background: var(--token-ellipse-clr);
    filter: blur(170px);
    border-radius: 50%;
    bottom: -139px;
    right: 0;
    z-index: 10;
}

.w-h-media-token {
    width: 100%;
    height: 100%;
}

.pos-token-coins {
    right: 63px;
    bottom: -139px;
}

.py-takenomics {
    padding-top: 120px;
}

.pos-abs-fire-token {
    top: -10%;
    left: 0;
}

.w-h-max-md {
    width: 269px;
    height: 140px;
}

.pos-token-notes {
    top: 0;
    right: 17px;
}

.token_box {
    position: relative;
    background: var(--token-box-bg-clr);
    padding: 45px;
    backdrop-filter: blur(20px);
}

.token_box::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 24px;
    padding: 3px;
    background: var(--token-box-border-after);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}

/* <----------------------------------------------------------- Partner section ----------------------------------------------------------------> */

.py-partner {
    padding-top: 120px;
    padding-bottom: 80px;
}

.img-box-partner {
    width: 210px;
    height: 80px;
    padding: 19.99px 29.26px 20px 29px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-box-partner::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 6px;
    padding: 1px;
    background: var(--token-box-border-after);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}

.mt-media-partner {
    margin-top: 40px;
}

.d-max-md-prop {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* <----------------------------------------------------------- Staking ----------------------------------------------------------------> */
.pos-abs-fire-staking {
    top: 0;
    left: 0;
}

.py-staking {
    padding-top: 175px;
    padding-bottom: 175px;
}

.stake-back-img {
    background-image: url("../Images/PNG/staking-back-img.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.stake-top-layer {
    left: 0;
    top: 0;
    position: absolute;
}

.stake-bottom-layer {
    left: 0;
    bottom: 0;
    position: absolute;
}

/* <----------------------------------------------------------- Sub section ----------------------------------------------------------------> */
.top-ellipse-sub {
    position: absolute;
    width: 417px;
    height: 417px;
    background: var(--top-ellipse-sub-clr);
    filter: blur(250px);
    border-radius: 50%;
    z-index: 10;
    top: -60%;
    left: 0;
}

.pos-abs-dollar-sub {
    top: -30%;
    left: 0;
}

.sub-box {
    max-width: 1038px;
    background: var(--sub-box-clr);
    border-radius: 25px;
}

.pb-media-sub {
    padding-bottom: 128px;
}

.sub-box::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 25px;
    padding: 1px;
    background: var(--token-box-border-after);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}

.btn-sub-sec {
    background: var(--btn-sub-clr);
}

.max-w-sub-box {
    max-width: 462px;
}

.m-media-sub-box {
    margin: 60px 0px 60px 60px;
}

.my-media-sub-sec {
    margin-top: 15px;
    margin-bottom: 35px;
}

.pos-sub-sec {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

/* <----------------------------------------------------------- footer ----------------------------------------------------------------> */
.ellipse-footer {
    position: absolute;
    width: 307.05px;
    height: 307.05px;
    background: var(--token-ellipse-clr);
    filter: blur(170px);
    border-radius: 50%;
    top: -100px;
    right: 0;
    z-index: 10;
}

.pos-footer-dollar {
    top: -50px;
    right: 0;
}

.py-footer {
    padding-top: 60px;
}

.-mt-3 {
    margin-top: -10px;
}

.box-footer {
    max-width: 449px;
}

.max-w-footer {
    max-width: 321px;
}

.w-scoial-icons {
    width: 156px;
}

.svg-footer-box {
    width: 40px;
    height: 40px;
    border-radius: 47px;
    border: 0.78px solid var(--color-white);
    transition: all 300ms linear;
}

.line {
    width: 100%;
    height: 1px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.my-media-text {
    padding-bottom: 31px;
}

.back-footer-images {
    background-image: url("../Images/PNG/footer-back-img.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.top-footer-layer {
    top: 0;
    left: 0;
}

/* <----------------------------------------------------------- Roadmap section ----------------------------------------------------------------> */
.ellipse-roadmap {
    position: absolute;
    width: 259.81px;
    height: 259.81px;
    background: var(--token-ellipse-clr);
    filter: blur(170px);
    border-radius: 50%;
    bottom: 108px;
    transform: translateY(-50%);
    left: 45px;
    z-index: 10;
}

.pos-abs-fire-roadmap {
    top: -100px;
    right: 0;
}

.py-roadmap {
    padding-top: 77px;
    padding-bottom: 280px;
}

.roadmap-box {
    width: 60px;
    height: 60px;
    border-radius: 68px;
    background: var(--roadmap-box);
}

.max-w-row {
    max-width: 580px;
}

.mt-media-row-roadmap {
    margin-top: 50px;
}

.pos-roadmap-img {
    right: 0;
    bottom: 75px;
    z-index: 1;
}

.mb-media-roadmap-heading {
    margin-bottom: 60px;
}

.bottom-layer-roadmap {
    bottom: 0;
    left: 0;
    z-index: 2;
}


/* <----------------------------------------------------------- Hover effects ----------------------------------------------------------------> */

.btn_hover:hover {
    background: var(--color-white);
    color: var(--btn_hover_color) !important;
}

.svg-footer-box:hover svg path {
    fill: var(--svg_fill_clr);
}

.svg-footer-box:hover {
    background: var(--color-white);
}

/* <----------------------------------------------------------- Z-indexes ----------------------------------------------------------------> */

.z-14 {
    z-index: 14;
}

/* <----------------------------------------------------------- scroll to top ----------------------------------------------------------------> */

.scroll_top,
.scroll_box {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--color-white);
    transition: all 300ms linear;
    z-index: 18;
}

.scroll_top {
    bottom: 20px;
    right: 20px;
}

.scroll_box img {
    transform: rotate(180deg);
}

.scroll_box:hover {
    transform: scale(1.2);
    box-shadow: 0px 0px 50px -3px var(--roadmap-box);
}

/* <----------------------------------------------------------- Preloader ----------------------------------------------------------------> */

.preloader {
    background-image: url("../Images/PNG/Homepage-pic.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 101 !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 300ms linear;
}

.svg_loader {
    width: 50px;
    height: 50px;
}

.z-50 {
    z-index: 50;
}

.-top-105 {
    top: -105%;
}

.noselect {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.artboard {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
}

.domino>div {
    border-radius: 8px;
    display: inline-flex;
    transform: rotate(45deg);
    width: 50px;
    height: 50px;
    -webkit-animation: domino-effect 2.4s infinite ease-in-out;
    animation: domino-effect 2.4s infinite ease-in-out;
}

.domino>div:nth-child(1) {
    background: var(--preloader-boxes);
}

.domino>div:nth-child(1):after {
    background: var(--preloader-boxes);
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.domino>div:nth-child(2) {
    background: var(--domino-other-clr);
}

.domino>div:nth-child(2):after {
    background: var(--domino-other-clr);
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
}

.domino>div:nth-child(3) {
    background: var(--domino-third-clr);
}

.domino>div:nth-child(3):after {
    background: var(--domino-third-clr);
    -webkit-animation-delay: 1.8s;
    animation-delay: 1.8s;
}

.domino>div:nth-child(4) {
    background: var(--domino-forth-clr);
}

.domino>div:nth-child(4):after {
    background: var(--domino-forth-clr);
    -webkit-animation-delay: 2.4s;
    animation-delay: 2.4s;
}

.domino>div:nth-child(5) {
    background: var(--domino-fifth-clr);
}

.domino>div:nth-child(5):after {
    background: var(--domino-fifth-clr);
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}

.domino>div:nth-child(1) {
    margin: 23px;
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.domino>div:nth-child(2) {
    margin: 23px;
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
}

.domino>div:nth-child(3) {
    margin: 23px;
    -webkit-animation-delay: 1.8s;
    animation-delay: 1.8s;
}

.domino>div:nth-child(4) {
    margin: 23px;
    -webkit-animation-delay: 2.4s;
    animation-delay: 2.4s;
}

.domino>div:nth-child(5) {
    margin: 23px;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}

.domino>div:after {
    content: "";
    position: relative;
    top: 0px;
    left: -70px;
    opacity: 0;
    border-radius: 8px;
    width: 50px;
    height: 50px;
    -webkit-animation: illusion 2.4s infinite ease-in-out;
    animation: illusion 2.4s infinite ease-in-out;
}

@-webkit-keyframes beat {
    to {
        transform: scale(1.4);
    }
}

@keyframes beat {
    to {
        transform: scale(1.4);
    }
}

@-webkit-keyframes spin {
    to {
        transform: rotate(140deg);
    }
}

@keyframes spin {
    to {
        transform: rotate(140deg);
    }
}

@-webkit-keyframes domino-effect {

    20%,
    100% {
        transform: rotate(135deg);
    }
}

@keyframes domino-effect {

    20%,
    100% {
        transform: rotate(135deg);
    }
}

@-webkit-keyframes illusion {

    0%,
    25% {
        opacity: 1;
    }

    26.10%,
    33.33%,
    100% {
        opacity: 0;
    }
}

@keyframes illusion {

    0%,
    25% {
        opacity: 1;
    }

    26.10%,
    33.33%,
    100% {
        opacity: 0;
    }
}

.loader {
    width: 100%;
    font-weight: bold;
    font-family: monospace;
    font-size: 40px;
    background: linear-gradient(90deg, #FFF 50%, #000 0) right / 200% 100%;
    animation: l21 2s infinite linear;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.loader::before {
    content: "Loading...";
    color: var(--black-color);
    padding: 0 5px;
    background: inherit;
    background-image: linear-gradient(90deg, #fff 50%, #000 0);
    -webkit-background-clip: text;
    background-clip: text;
}

@keyframes l21 {
    100% {
        background-position: left;
    }
}

.mb-media-max-md {
    margin-bottom: 150px;
}